@charset "utf-8";

@mixin lamiea-scope-container($scope-name) {
    .#{$scope-name}{
        @content 
    }
};

@mixin lamiea-card($border-radius: $lamiea-border-radius, $padding: $lamiea-container-padding, $bg-color: $lamiea-background-color) {
    @include lamiea-border-radius($border-radius);
    @include lamiea-padding($padding);
    background: $bg-color;
};

@mixin lamiea-padding($paddings...) {
    padding: $paddings;
}

@mixin lamiea-margin($margins...) {
    margin: $margins;
}

@mixin lamiea-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin lamiea-border($border-width, $color, $type: solid) {
    border: $border-width $type $color;
}

@mixin lamiea-border-radius($radius...) {
    border-radius: $radius;
}