@charset "utf-8";

@mixin lamiea-flex-direction($direction: row) {
    flex-direction: $direction;
}

@mixin lamiea-flex {
    display: flex;
}

@mixin lamiea-flex-center {
    @include lamiea-flex();
    justify-content: center;
    align-items: center;
};

@mixin lamiea-flex-start-center {
    @include lamiea-flex();
    justify-content: flex-start;
    align-items: center;
}

@mixin lamiea-flex-between-center {
    @include lamiea-flex();
    justify-content: space-between;
    align-items: center;
}