@charset "utf-8";

@mixin lamiea-font($size: $lamiea-font-size, $lineHeight:$lamiea-line-height, $weight:$lamiea-font-weight) {
    font-size: $size;
    line-height: $lineHeight;
    font-weight: $weight;
}
